/* style.css */

body { 
    margin: 0; 
    background-color: #000000; /* Fond noir si le canvas ne remplit pas tout */
}

canvas { 
    display: block; /* Essentiel pour retirer l'espace sous le canvas */
}

/* Vous pouvez ajouter ici d'autres styles pour votre menu, etc. */