/* style.css */

/* Règles pour le plein écran */
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; 
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

/* Règle pour l'élément CANVAS (Phaser) */
canvas {
    display: block; 
}